@media (max-width: 575px) {
    .carousel .carousel-inner div img {
        height: 40vh;
    }
}

@media (min-width: 576px) {
    .carousel .carousel-inner div img {
        height: 80vh;
    }
}

@media (min-width: 1078px) {
    .carThreeText {
        position: relative;
        top: -18rem;
        left: -3em;
        font-size: 3rem;
    }
    .carOneText{
    	font-size: 3rem;
    }
    .carTwoText{
    	position: relative;
        top: -10rem;
        left: -2em;
        font-size: 3rem;	
    }
}

@media (max-width: 520px) {
	.carThreeText, .carOneText {
		font-size: 1rem;
	}
	.carTwoText {
		font-size: 1rem;
		color: #000;
	}
}