// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) { 
	.carousel .carousel-inner div img{
		height: 40vh;
	}

}

@media (min-width: 576px) {
	.carousel .carousel-inner div img{
		height: 80vh;
	}	
}

@media (max-width: 564px) {
	#about_us div.aboutContent{
		background: url("../images/aboutUs1.png") snow;
		color: #fff;
	}
	#quality div.qualityContent{
		background: url("../images/quality.jpg") snow;
		color: #fff;	
	}
	#quality div.packagingContent{
		background: url("../images/delivery.jpg") snow;
		color: #fff;		
	}
	#quality div.deliveryContent{
		background: url("../images/pack_deliver.jpg") snow;
		color: #fff;	
	}
	#quality div.traceContent{
		background: url("../images/traceability_back.jpeg") no-repeat;
		color: #fff;	
		min-height: 50vh;	
	}
	.posi_top_3em{
		position: relative;
		top: 1em;
	}
}
@media (min-width: 565px) {
	.traceContent img, .deliveryContent img, .packagingContent img{
		width: 99%;
	}
	.posi_top_3em{
		position: relative;
		top: 3em;
	}
	#about_us div.aboutContent{
		background: url("../images/aboutUs1.png") no-repeat;
		color: #fff;
		min-height: 50vh;
	}
	#quality div.qualityContent{
		background: url("../images/quality.jpg") no-repeat;
		color: #fff;	
		min-height: 50vh;
	}
	#quality div.packagingContent{
		background: url("../images/delivery.jpg") no-repeat;
		color: #fff;	
		min-height: 50vh;	
	}
	#quality div.deliveryContent{
		background: url("../images/pack_deliver.jpg") no-repeat;
		color: #fff;	
		min-height: 50vh;
	}
	#quality div.traceContent{
		background: url("../images/traceability_back.jpeg") no-repeat;
		color: #fff;	
		min-height: 50vh;	
	}
}
.main_logo{
	height: 3em;
	width: 3em;
}
#home, #about_us, #quality, #contactus, #blogs{
	padding-top: 4em;
	padding-left: 4em;
}


#about_us div.aboutContent h1, div.flavorsContent h1, div.qualityContent h1, div.packagingContent h1, #contactus h1, #blogs h1{
	text-align: center;
}

#blogs .pading-top-2em{
	padding-top: 2em;
}
.margin-top-2em{
	margin-top: 2em;
}
#about_us p, #quality p{
    font-size: 124%;
}

#contactus{
	margin-top: 4em;
	min-height: 80vh;
	color: #000;
	background: url("../images/bananaContact.jpg") no-repeat; 
}
.contactusSocial img{
	width: 2em;
}

 body {
    font-family: 'Josefin Slab', serif;
    /*font-size: 1.5em;*/
}

