// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) { 

	.carousel .carousel-inner div img{
		height: 40vh;
	}

}

@media (min-width: 576px) {
	.carousel .carousel-inner div img{
		height: 80vh;
	}	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

}

// Extra large devices (large desktops, 1200px and up)
@media all and (min-width: 1200px) { 

}

.main_logo{
	height: 3em;
	width: 3em;
}
#home, #about_us, #quality, #contactus, #blogs{
	padding-top: 4em;
	padding-left: 4em;
}

#blogs .pading-top-2em{
	padding-top: 2em;
}

#about_us p{
    font-size: 124%;
}

#contactus{
	margin-top: 4em;
	min-height: 80vh;
	color: #fff;
	background: url("../images/bananaContact.jpg") no-repeat; 
}
.contactusSocial img{
	width: 2em;
}

 body {
    font-family: 'Josefin Slab', serif;
    /*font-size: 1.5em;*/
}